@font-face {
    font-family: raleway;
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: rubik;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: rubik;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2"); 
    font-display: swap;
}

@font-face {
    font-family: rubik;
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
}

html {height: 100%;}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    font-family: raleway;
    font-size: 18px;
    line-height: 21.13px;
    background-color: #E5E5E5;
    color: black;
}

.header-logo-container {position: relative;
top: -14px;
margin-left: 61px;
margin-bottom: -14px;}

.login {position: relative;
    display: block;}

.search-bar {display: flex;
width: 516px;
height: 20px;
border: 1px solid black;}

.search-icon {
margin-right: 20px;
margin-top: 2px;
}

.search {width: 480px;
height: 20px;}

.navigation-list {
display: flex;
  margin-left: 60px;
  margin-right: 59px;
  margin-top: 29px;
  margin-bottom: 0; 
  flex-wrap: wrap; 
  list-style: none;
  text-decoration: none;
  font-style: raleway, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 1px solid red;
  padding: 0;
  width: 1041px;
}

.navigation-list-footer {border: 1px solid red;
text-decoration: none;
list-style: none;
font-style: raleway, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
display: flex;
padding-left: 0px;
height: 38px;
margin-top: 0px;
align-items: center;}

.footer-phone-number {border: 1px solid black;
margin-left: auto;
text-align: end;
height: 38px;
margin-top: 0px;}


.footer-navigation-item {width: 148px;
height: 20px;
margin-right: 7px;
text-align: center;
border: 1px solid black;}

.footer-navigation-item:last-child {margin-right: 0px;
}

.footer-navigation-link {text-transform: uppercase;
color: #ffffff;
text-decoration: none;}

.navigation-item-link {text-decoration: none;
    color: black;
}

.navigation-item {list-style-type: none; 
}

.navigation-item:first-child {width: 236px;
height: 20px;
margin-left: 0px;
margin-right: 7px;
margin-top: 15px;
margin-bottom: 15px;
}

.navigation-item:nth-child(2) {margin-right: 247px;
width: 50px;
height: 50px;
border: 1px solid black;}

.navigation-item:nth-child(3) {margin-top: 15px;
width: 140px;
height: 20px;
margin-right: 19px;
}

.navigation-item:nth-child(4) {width: 140px;
    height: 20px;
    margin-right: 53px;
    margin-top: 15px;
}

.navigation-item:nth-child(5) {width: 140px;
height: 20px;
text-align: right;
align-self: center;
}

.slider {display: flex; 
}

.slider.container {top: -112px;
margin-bottom: -20px;
position: relative;
border: 1px solid red;
height: 560px;
}

.container {width: 1160px;}

.slider-list {margin: 0;
padding: 0;}

.slider-item {justify-content: space-between;
min-height: 500px;}

.slider-show {display: flex;}

.slider-item-left {text-align: center;
width: 560px;}

.slider-item-right {width: 560px;}

.slider-description {display: flex;
flex-direction: column;
}

.parameters {display: flex;
margin-top: 70px;
}

.first-parameter-container {display: flex;
flex-direction: column;
}

.second-parameter-container {display: flex;
flex-direction: column;
}

.second-parameter {width: 160px;
    height: 52px;
    font-family: rubik, Arial, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    color: #000000;
    }

.first-parameter {width: 160px;
height: 52px;
font-family: rubik, Arial, sans-serif;
font-weight: 400;
font-size: 36px;
line-height: 30px;
color: #000000;
margin-right: 0px;}

.first-parameter-description {width: 140px;
font-family: rubik, Arial, sans-serif;
font-size: 16px;
line-height: 30px;
color: #444444;
margin-right: 20px;
height: 30px;
top: -11px;
position: relative;
}

.second-parameter-description {width: 160px;
    font-family: rubik, Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
    margin-right: 20px;
    height: 30px;
    top: -11px;
    position: relative;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.page-header {
    font-family: raleway, Arial, sans-serif;
    color: #000000;
    background-color: #FFE17F;
    width: 1160px;
    min-height: 300px;
    margin: 0 auto;
    margin-top: 40px;
}

.header-search {
display: flex;
margin-top: 49px;
margin-bottom: 29px;
align-items: baseline;
width: 1075px;
height: 21px;
margin-left: 60px;
align-items: center;
}

.header-search-list {list-style-type: none;
display: flex;
flex-wrap: wrap;
margin: 0 auto;
padding: 0;
}


.catalog-list {
width: 160px;
height: 160px;
background-color: #FFE17F;
}

.monopod-image {margin-top: 44px;
margin-left: 37px;
margin-right: 37px;}

.image-flex {display: flex;
align-items: center;
justify-content: center;}

.search {font-family: rubik, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.96px;
    opacity: 0.3;
    width: 480px;
    height: 20px;
    margin: 0 auto;
}

.page-container {
    width: 1160px;
    margin: 0 auto;
    border: 5px solid red;
}

.login {
    font-family: rubik, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    line-height: 18.96px;
    text-decoration: none;
}

.login-container {display: flex;
width: 245px;
height: 20px;
border: 1px solid black;
margin-right: 15px;
margin-left: 24px;}

.login-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;}

.shopping-bag-icon {margin-left: -10px;
margin-bottom: 5px;}

.compare-container {display: flex;
width: 120px;
height: 20px;
border: 1px solid black;
margin-right: 14px;}

.compare-icon {width: 10px;
height: 12px;
border: 1px solid black;
margin-top: 3px;
margin-bottom: 5px;
margin-right: 10px;}

.cart-container {
width: 141px;
height: 21px;
border: 1px solid black;
display: flex;
margin-right: 25px;}

.product-counter {width: 20px;
height: 20px;
border: 1px solid black;}

.cart-icon {width: 16px;
height: 14px;
border: 1px solid black;
margin-top: 2px;
margin-bottom: 5px;
margin-right: 10px;}

.page-header-cart {width: 110px;
height: 20px;
border: 1px solid red;}

.page-header-cart span {margin-left: 10px;}

.page-header-compare {width: 100px;
height: 20px;
border: 1px solid black;}

.services .container {display: flex;
min-height: 320px;
padding-left: 2px;}

.services-navigation {display: flex;
flex-direction: column;
min-width: 277px;
margin: 0;
justify-content: center;
list-style: none;}

.services-tab.current {background-color: black;}

.services-navigation li {width: 100%;
margin: 12px 0;
padding: 0;
text-align: center;}

.services-link {display: block;
width: 160px;
padding: 8px 0;
font-family: raleway, Arial, sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
color: #FFE17F;
text-decoration: none;
}

.services-item-title {width: 560px;
font-family: raleway, Arial, sans-serif;
font-weight: 800;
font-size: 50px;
line-height: 50px;
color: #000000;}

.search-item {width: 220px;}



.page-header-login {width: 220px;
border: 1px solid black;
height: 20px;
padding-left: 25px;
}



.phrase {
font-family: raleway, Arial, sans-serif;
font-size: 50px;
line-height: 50px;
margin-bottom: 19px;
margin-top: 80px;
}

.main-container {flex-grow: 1;}

.description {
font-family: rubik, Arial, sans-serif;
font-weight: 400;  
font-size: 18px;
color: #444444;
line-height: 30px;
width: 560px;
margin-bottom: 30px;
}

.newsletter-email {
margin-right: 40px;}

.button.newsletter-button {width: 260px;
height: 55px;
align-self: center;
border: 3px solid #000000;}

.free-quote {width: 129px;
height: 30px;
font-family: rubik, Arial, sans-serif;
font-weight: 400;  
font-size: 18px;
text-align: center;
margin-top: 10px;}

.free-container {height: 30px;
width: 165px;
display: flex;
margin-left: 136px;

align-items: center;
align-self: center;
}

.free-icon {
margin-right: 21px;}

.newsletter-button {}

.field {height: 30px;
width: 560px;}

.navigation-link {
    font-family: rubik, Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: black;
}

.products-list.catalog {
    font-family: raleway, Arial, sans-serif;
    line-height: 24px;
}

.products-list {display: grid;
grid-template-columns: 160px 160px 160px 160px 160px 160px;
grid-template: 160px 60px;
column-gap: 40px;
row-gap: 33px;}

.product-caption {font-family: Raleway, Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
color: #000000;}


.button {
    font-family: Raleway, Arial, sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
color: black;
text-decoration: none;
text-transform: uppercase;
text-align: center;
letter-spacing: 0.2em;
cursor: pointer;
border: none;
}

.index-columns {display: flex;
justify-content: space-between;
margin-top: 97px;}

.sign-up {}

h2 {
    
    font-size: 18px;
    line-height: 21.13px;
    text-transform: uppercase;
    color: black;
}

h3 {
    font-size: 50px;
    line-height: 50px;
}

.about-us {
    font-family: rubik, Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    border: 1px solid red;
    width: 497px;
    height: 202px;
}

.detailed-button {width: 260px;
height: 20px;
border: 1px solid red;
text-align: center;}

.delivery-methods {
    font-family: raleway, Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    width: 531px;
    height: 120px;
    border: 1px solid red;
    margin-top: 23px;
    
}

.section-contacts h4 {border: 1px solid red;
width: 358px;
height: 30px;
margin-top: 30px;
margin-bottom: 15px;
}

.contacts-address {width: 515px;
height: 30px;
border: 1px solid red;
font-family: rubik, Arial, sans-serif;
font-size: 18px;
line-height: 30px;
color: #444444;
margin-bottom: 0px;
}

.worktime {width: 204px;
height: 60px;
border: 1px solid black;
font-size: 18px;
line-height: 30px;
font-family: rubik, Arial, sans-serif;
}

.contacts-phone {margin-top: 0px;
width: 151px;
height: 30px;
font-family: rubik, Arial, sans-serif;
font-size: 18px;
line-height: 30px;
color: #444444;
}

.call-us-button {width: 260px;
height: 20px;
text-align: center;
border: 1px solid red;
margin-top: 23px;}

.subscribe-to-us {display: flex;
border: 1px solid red;}

.subscribe-reason {margin-left: 40px;
align-self: center;
border: 1px solid black;
height: 99px;
width: 528px;
font-size: 18px;
line-height: 30px;
font-family: rubik, Arial, sans-serif;}

.subscribe-to-us h3 {width: 560px;
height: 120px;
width: 560px;
border: 1px solid black;}

.e-mail {display: flex;}

h4 {
    font-size: 24px;
    line-height: 30px;
    color: #444444;
}

.services {
    font-family: raleway, Arial, sans-serif;
    margin-top: 69px;
    margin-bottom: 90px;
    min-height: 388px;
    background-color: #E5E5E5;
}

.services-description div {margin-left: 118px;
margin-top: 70px;
width: 460px;
position: relative;}

.service-show: {display: block;}

.service {}

.services-item-description {font-family: rubik, Arial, sans-serif;
font-size: 18px;
line-height: 30px;
color: #444444;
width: 500px;
}

.services-item-title {margin-bottom: 30px;}

.delivery {font-family: raleway, Arial, sans-serif;
    background-color: #F0F0F0;
width: 1160px;
margin: 0;}

.sign-up {background-color: #F0F0F0;
width: 1160px;
margin-top: 0px;}

.page-footer {
    background-color: #444444;
    width: 1440px;
    margin: 0 auto;
    height: 321px;
}

.footer-logo {margin-top: 62px;
margin-bottom: 35px;}



.footer-container {padding-left: 140px;
padding-right: 140px;}

.footer-wrapper-first {display: flex;
border: 1px solid red;
padding: 0;
height: 38px;}

.delivery-information {display: flex;}

.delivery-promise {width: 910px;
    height: 20px;
    margin-top: 37px;
    margin-bottom: 43px;
    text-align: center;}

.delivery-car {width: 125px;
height: 100px;
background-color: #FFE17F;
}

.delivery-car img {margin-top: 35px;
    margin-bottom: 34px;
    margin-left: 39px;
    margin-right: 39px;
}

.delivery-information-icon {width: 40px;
height: 40px;
margin-left: 52px;
margin-right: 33px;
margin-top: 29px;
margin-bottom: 31px;
}

.navigation-link.contacts2 {
    font-family: raleway, Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
}



.footer-address {
    font-family: rubik, Arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    text-decoration: none;
    width: 240px;
    height: 38px;
 margin-right: 114px;
 border: 1px solid black;
 font-style: normal;
font-weight: normal;
}

.about-us3 {
    font-family: rubik, Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
}

.inner-header-title {
    font-family: raleway, Arial, sans-serif;
font-size: 50px;
line-height: 50px;
color: black;
}

.breadcrumbs-link {
font-family: rubik, Arial, sans-serif;
font-size: 16px;
line-height: 19px;
opacity: 0.6;
color: black;
text-decoration: none;
list-style: none;
}

.product-card-title {
    font-family: rubik, Arial, sans-serif;
    font-size: 18px;
line-height: 24px;
color: black;
text-decoration: none;
}

.product-card-link {
    font-family: raleway, Arial, sans-serif;
    text-decoration: none;
}

.catalog-filter-title {
font-family: rubik, Arial, sans-serif; 
font-weight: bold;
font-size: 18px;
line-height: 20px;
color: black;
}

.control-label {
font-family: rubik, Arial, sans-serif;
font-size: 16px;
line-height: 19px;
color: black;
}

.select-control {
    font-family: rubik, Arial, sans-serif;
font-size: 16px;
line-height: 19px;
color: black;
}

.product-card-price {
    font-family: rubik, Arial, sans-serif;
font-size: 18px;
line-height: 21px;
text-align: right;
color: #444444;
}

.filters {
    font-family: raleway, Arial, sans-serif;
    background-color: #EBEBEB;
    display: flex;
    flex-direction: column;
    width: 270px;
    margin-right: 69px;
    height: 1404px;
    border: 1px solid black;
}

.filters-top {background-color: #DCDCDC;}

.price-sorting {
    font-family: raleway, Arial, sans-serif;
    background-color: #EBEBEB;
    border: 5px solid black;
}

.product-section {
    font-family: raleway, Arial, sans-serif;
    background-color: #E5E5E5;
    border: 5px solid green;
}

.section-contacts {
    width: 560px;
    height: 562px;
    border: 1px solid black;
}

.section-about-us {width: 560px;
    height: 562px;
    margin-right: 40px;
    border: 1px solid black;
}

.contacts-quote {font-family: rubik, Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    width: 498px; 
    height: 60px;
border: 1px solid red;}

.index-columns h3 {width: 560px;
height: 70px;
border: 1px solid black;}

.button.pagination-show-more {
    font-family: raleway, Arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    background-color: #E5E5E5;
}

.pagination {
    font-family: raleway, Arial, sans-serif;
    background-color: #EBEBEB;
}

.pagination-link {
    text-decoration: none;
    color: black;
    font-family: raleway, Arial, sans-serif;
}


.footer-phone-number {width: 250px;
    height: 38px;
    margin-top: auto;
margin-left: auto;}

.footer-wrapper-second {display: flex;
border: 1px solid black;
margin-top: 49px;
height: 40px;}

.footer-vector {width: 80px;
height: 7px;
border: 1px solid yellow;
align-self: center;}


.catalog-right-column {width: 760px;
border: 15px solid yellow;}


.filter-columns {display: flex;
border: 1px solid red;
flex-direction: row;}

.page-title {font-family: Raleway, Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
color: #000000;}

.breadcrumbs {display: flex;
margin-bottom: 49px;
width: 425px;
list-style: none;
border: color 1px red;}

.breadcrumbs li {
font-family: Rubik, Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #000000;
list-style: none;
text-decoration: none;
}

.breadcrumbs a {
    font-family: Rubik, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    list-style: none;
    text-decoration: none;
    }

.breadcrumbs li:not(:last-child) {margin-right: 16px;
padding-right: 22px;}

.catalog-product {display: flex;
border: 10px solid black;}

.catalog {display: flex;}

.footer-social {width: 150px;
    height: 40px;
    
display: flex;
margin-left: 425px;
justify-content: space-between;}

.social {width: 40px;
height: 40px;
background-repeat: no-repeat;
background-position: center;
background-color: rgba(255, 255, 255, 0.3);
border-radius: 50%;
border: none;
display: block;}

.social-fb {background-image: url("/Users/FUZION/Documents/GitHub/1841529-device-32/images/facebook-icon.svg");
color: #444444;}

.social-inst {background-image: url("/Users/FUZION/Documents/GitHub/1841529-device-32/images/inst-icon.svg");
color: #444444;}

.social-tw {background-image: url("/Users/FUZION/Documents/GitHub/1841529-device-32/images/tw-icon.svg");
color: #444444;}

.footer-html-logo {
    width: 115px;
    height: 33px;
    
    margin-left: 392px;
    align-self: center;
}




